<a href="https://colab.research.google.com/github/MDRobiulhassan/Machine-Learning-Course/blob/main/Student_Perfomence_Regularization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
df = pd.read_csv('/content/drive/MyDrive/University/7th Semester/MLL/colab/student_lifestyle_100k.csv')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Student_ID          100000 non-null  int64
 1   Age                 100000 non-null  int64
 2   Gender              100000 non-null  object
 3   Department          100000 non-null  object
 4   CGPA                100000 non-null  float64
 5   Sleep_Duration      100000 non-null  float64
 6   Study_Hours         100000 non-null  float64
 7   Social_Media_Hours  100000 non-null  float64
 8   Physical_Activity   100000 non-null  int64
 9   Stress_Level        100000 non-null  int64
 10  Depression          100000 non-null  bool
dtypes: bool(1), float64(4), int64(4), object(2)
memory usage: 7.7+ MB

In [7]:
df = df.drop('Student_ID', axis=1)

In [8]:
df.shape

(100000, 10)

In [9]:
df.duplicated().sum()

np.int64(0)

In [10]:
df.describe()

,Age,CGPA,Sleep_Duration,Study_Hours,Social_Media_Hours,Physical_Activity,Stress_Level
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,21.009010,2.898316,6.996425,4.509517,3.503288,74.353180,4.131660
std,2.000382,0.532240,1.498682,1.976076,1.486852,43.366963,1.424151
min,18.000000,1.560000,3.000000,0.000000,0.000000,0.000000,2.000000
25%,19.000000,2.450000,6.000000,3.200000,2.500000,37.000000,3.000000
50%,21.000000,2.900000,7.000000,4.500000,3.500000,74.000000,4.000000
75%,23.000000,3.350000,8.000000,5.800000,4.500000,112.000000,5.000000
max,24.000000,4.000000,12.000000,12.800000,10.000000,149.000000,10.000000

In [11]:
X = df.drop('Depression', axis=1)
y = df['Depression'].astype(int)  # convert bool to int

In [12]:
# Categorical columns
cat_cols = ['Gender', 'Department']

# Numeric columns
num_cols = X.select_dtypes(include=['int64', 'float64']).columns.tolist()

In [14]:
from sklearn.preprocessing import StandardScaler, PolynomialFeatures
from sklearn.pipeline import Pipeline

numeric_transformer = Pipeline(steps=[
    ('scaler', StandardScaler()),                 # Scale numeric features
    ('poly', PolynomialFeatures(degree=2, include_bias=False))  # Generate polynomial features
])

In [15]:
from sklearn.preprocessing import OneHotEncoder

categorical_transformer = OneHotEncoder(drop='first')  # drop first to avoid multicollinearity

In [16]:
from sklearn.preprocessing import OneHotEncoder

categorical_transformer = OneHotEncoder(drop='first')  # drop first to avoid multicollinearity

In [17]:
from sklearn.compose import ColumnTransformer

preprocessor = ColumnTransformer(transformers=[
    ('num', numeric_transformer, num_cols),
    ('cat', categorical_transformer, cat_cols)
])

In [19]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)